<div class="principal">
    <div class="container">
        <br>
            <div class="row">
                <div class="col-md-5">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            Add member
                        </div>
                        <div class="panel-body">
                          <div class="alerts">
                          </div>
                          <form class="formCrud" name="formActivity" role="form">
                            <input name="codigo" ng-model="datos.idActividad" style="display:none" type="text">
                            </input>
                            <div class="form-group">
                                <span class="btn btn-default form-control btnTeam" ng-click="listProjects()">
                                    Select a  Project
                                    <i class="glyphicon glyphicon-plus-sign pull-left">
                                    </i>
                                </span>
                                <br>
                                    <ul class="list-group list">
                                        <li class="list-group-item" ng-click="selectProject(obj)" ng-repeat="obj in   projects | filter:filtrar ">
                                            {{obj.nombre}}
                                        </li>
                                    </ul>
                                </br>
                            </div>
                            <div class="form-group" id="srch-term">
                              <span class="btn btn-default form-control btnTeam" ng-click="listUsersByProject()">
                                  Select a team member
                                  <i class="glyphicon glyphicon-plus-sign pull-left">
                                  </i>
                              </span>
                              <br>
                                  <ul class="list-group list">
                                      <li class="list-group-item" ng-click="selectUser(obj)" ng-repeat="obj in  users | filter:filtrar ">
                                          {{obj.nombreCompleto}}
                                      </li>
                                  </ul>
                              </br>
                            </div>
                            <div class="form-group" id="div-data">
                              <div class="form-group">
                                  <label>
                                      Name
                                  </label>
                                  <input class="form-control" name="nombre" ng-model="datos.nombre" placeholder="name">
                                  </input>
                              </div>
                              <div class="form-group">
                                  <label>
                                      Description
                                  </label>
                                  <textarea class="form-control" name="descripcion" ng-model="datos.descripcion" style="resize: none;">
                                  </textarea>
                              </div>
                              <div class="form-group">
                                  <label>
                                      Start date
                                  </label>
                                  <input class="form-control" ng-model="datos.fechaInicio" placeholder="fechaInicio" required="" type="date">
                                  </input>
                              </div>
                              <div class="form-group">
                                  <label>
                                      End date
                                  </label>
                                  <input class="form-control" ng-model="datos.fechaFin" placeholder="fechaFin " required="" type="date">
                                  </input>
                              </div>
                            </div>
                            <!-- Botones -->
                            <div class="btn-group btn-group-justified grupobtn">
                                <span class="btn form-control" ng-click="saveActivity()">
                                    Create
                                    <i class="glyphicon glyphicon-plus">
                                    </i>
                                </span>
                                <span class="btn form-control" disabled="" id="btn-edit" ng-click="update(formActivity)">
                                    Edit
                                    <i class="glyphicon glyphicon-pencil">
                                    </i>
                                </span>
                            </div>
                          </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <!-- panel -->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="panel-body">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-search">
                                        </i>
                                    </span>
                                    <input class="form-control" ng-model="filtrar" placeholder="Search Member of the project " type="text">
                                    </input>
                                </div>
                                <!-- Tabla -->
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="seleccionable">
                                                <a>
                                                    Activity Name
                                                </a>
                                            </th>
                                            <th class="seleccionable">
                                                <a>
                                                    Description
                                                </a>
                                            </th>
                                            <th class="seleccionable">
                                                <a>
                                                    Start Date
                                                </a>
                                            </th>
                                            <th class="seleccionable">
                                                <a>
                                                    End Date
                                                </a>
                                            </th>
                                            <th class="seleccionable">
                                                <a>
                                                    <i class="glyphicon glyphicon-trash">
                                                    </i>
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody ng-init="">
                                        <tr ng-click="getSelectedRow(obj)" ng-repeat="obj in activities |
                            filter:filtrar ">
                                            <td>
                                                {{obj.nombre}}
                                            </td>
                                            <td>
                                                {{obj.descripcion }}
                                            </td>
                                            <td>
                                                {{obj.fechaInicio | date:'yyyy-MM-dd'}}
                                            </td>
                                            <td>
                                                {{obj.fechaFin | date:'yyyy-MM-dd'}}
                                            </td>
                                            <td>
                                                <span class="glyphicon glyphicon-trash" ng-click="delete(obj.idActividad)">
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- div row -->
                </div>
            </div>
        </br>
    </div>
</div>
